config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.copyableAnnotations += javax.annotation.CheckForNull
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.BeatmapId
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.BeatmapSetId
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.BitwiseMods
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.GameMode
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.MillisSinceEpoch
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.OsuName
lombok.copyableAnnotations += org.tillerino.osuApiModel.types.UserId